@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/poppins-v21-latin-300.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v21-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v21-latin-600.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/poppins-v21-latin-900.woff2") format("woff2");
}
:root {
  --color-primary-green: #819b57;
  --color-primary-light: #faf4ea;
  --color-primary-dark: #31261a;
  --color-light-brown: #a18268;
  --color-olive: #cfcfbc;
  --color-dark-green: #465929;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--color-primary-dark);
  background-color: var(--color-primary-light);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  /* font-size: 18px, line-height in figma: 27px. We have to divide 27/18=1.5 - this is our value for css property in VS Code*/
}
@media screen and (min-width: 870px) {
  body {
    font-weight: 400;
    font-size: 18px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
}

a {
  display: inline-block;
}

address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.advantages-section {
  background-color: transparent;
  padding: 40px 0px 20px 0px;
}
@media screen and (min-width: 870px) {
  .advantages-section {
    padding: 16px 0;
    background-color: var(--color-primary-green);
  }
}
@media screen and (min-width: 1280px) {
  .advantages-section {
    padding: 16px 0;
  }
}

.advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  background-color: var(--color-olive);
  border-radius: 24px;
  padding: 24px 40px;
}
@media screen and (min-width: 870px) {
  .advantages-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 40px;
    background-color: transparent;
    border-radius: 0;
    padding: 0;
  }
}

.advantages-item {
  font-size: 14px;
  color: var(--color-primary-dark);
  font-weight: 300;
}
@media screen and (min-width: 870px) {
  .advantages-item {
    color: var(--color-primary-light);
    font-size: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .advantages-item {
    font-size: 20px;
  }
}

.button {
  display: block;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
  padding: 16px 68px;
  background-color: var(--color-primary-green);
  border: 2px solid var(--color-primary-green);
  border-radius: 8px;
  color: var(--color-primary-light);
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.button:hover {
  background: var(--color-primary-light);
  border: 2px solid var(--color-primary-green);
  color: var(--color-dark-green);
  cursor: pointer;
}

.form-button {
  display: block;
  margin: 0 auto 24px;
}

.main-page-form-button {
  margin: 0 auto;
  height: 45px;
  padding: 10px 58px;
  font-size: 16px;
}
@media screen and (min-width: 870px) {
  .main-page-form-button {
    padding: 10px 78px;
  }
}
@media screen and (min-width: 1280px) {
  .main-page-form-button {
    font-size: 18px;
    margin: 0 auto 16px;
    height: inherit;
    padding: 16px 64px;
  }
}

.carousel-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--color-primary-light);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid var(--color-primary-dark);
  padding: 0;
  cursor: pointer;
  fill: var(--color-primary-dark);
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transition: background-color 0.2s, fill 0.2s;
  transition: background-color 0.2s, fill 0.2s;
}
.carousel-button:hover {
  background-color: var(--color-primary-dark);
  fill: var(--color-primary-light);
}

.right-arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.chef .section-title {
  position: relative;
  margin: 0 auto 24px;
}
@media screen and (min-width: 1280px) {
  .chef .section-title {
    margin: 0 auto 80px;
  }
}

.chef .section-title::before,
.chef .section-title::after {
  display: none;
  content: "";
  position: absolute;
  bottom: 16px;
  width: 374px;
  border: 2px solid var(--color-olive);
}
@media screen and (min-width: 1280px) {
  .chef .section-title::before,
  .chef .section-title::after {
    display: block;
  }
}

.chef .section-title::before {
  right: 0px;
}

.chef .section-title::after {
  left: 0px;
}

.chef-title {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 8px;
}
@media screen and (min-width: 870px) {
  .chef-title {
    font-size: 40px;
    margin-bottom: 16px;
  }
}

.chef-photo {
  width: 140px;
  border-radius: 4px 4px 4px 200px;
  -webkit-box-shadow: -10px 9px 0 0 var(--color-primary-light), -10px 9px 0 2px var(--color-light-brown);
          box-shadow: -10px 9px 0 0 var(--color-primary-light), -10px 9px 0 2px var(--color-light-brown);
}
@media screen and (min-width: 1280px) {
  .chef-photo {
    -webkit-box-shadow: -16px 16px 0 0 var(--color-primary-light), -16px 16px 0 2px var(--color-light-brown);
            box-shadow: -16px 16px 0 0 var(--color-primary-light), -16px 16px 0 2px var(--color-light-brown);
    height: 390px;
    width: 240px;
  }
}

.chefs-flex-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 25px;
}
@media screen and (min-width: 870px) {
  .chefs-flex-list {
    gap: 40px 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 870px) {
  .chefs-flex-list li {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}

.chef-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 10px;
}
@media screen and (min-width: 870px) {
  .chef-card {
    gap: 30px;
  }
}

.chef-text p {
  margin-bottom: 18px;
  font-size: 14px;
}
@media screen and (min-width: 870px) {
  .chef-text p {
    font-size: 18px;
    margin-bottom: 28px;
  }
}

.chef-text p:last-child {
  margin-bottom: 0;
}

.contacts-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
@media screen and (min-width: 1280px) {
  .contacts-flex-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 32px;
  }
}

.contact .section-title {
  margin-bottom: 16px;
  text-align: center;
}
@media screen and (min-width: 1280px) {
  .contact .section-title {
    text-align: start;
  }
}

.main-page-form-text {
  color: var(--color-dark-green);
  font-size: 14px;
  text-align: center;
  margin-bottom: 24px;
}
@media screen and (min-width: 870px) {
  .main-page-form-text {
    text-align: center;
  }
}
@media screen and (min-width: 1280px) {
  .main-page-form-text {
    margin-bottom: 42px;
    font-size: 16px;
    text-align: start;
  }
}

section.contact {
  padding-bottom: 0;
}
@media screen and (min-width: 1280px) {
  section.contact {
    padding-bottom: 96px;
  }
}

.contact-map {
  margin: 0 -20px;
  height: 176px;
  border: 1px solid transparent;
}
@media screen and (min-width: 870px) {
  .contact-map {
    margin: 0 -40px;
    height: 400px;
  }
}
@media screen and (min-width: 1280px) {
  .contact-map {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    max-width: 100%;
    border-radius: 16px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    width: 600px;
    height: 595px;
    margin: 0;
  }
}

.contact-map:hover {
  border: 1px solid var(--color-light-brown);
}

.form-text {
  margin-bottom: 0;
  text-align: center;
}
@media screen and (min-width: 870px) {
  .form-text {
    margin-bottom: 72px;
  }
}

.form-text p {
  color: var(--color-dark-green);
  font-size: 12px;
}
@media screen and (min-width: 870px) {
  .form-text p {
    margin-bottom: 72px;
    font-size: 16px;
  }
}

.form-title {
  margin-bottom: 8px;
}

.form-field {
  margin: 0 0 16px;
  display: block;
}
@media screen and (min-width: 870px) {
  .form-field {
    width: 70%;
    margin: 0 auto 16px;
  }
}
@media screen and (min-width: 1280px) {
  .form-field {
    margin: 0 0 24px;
    width: 100%;
  }
}

.form-input {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  padding: 8px 24px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--color-light-brown);
  background-color: transparent;
}
@media screen and (min-width: 1280px) {
  .form-input {
    padding: 16px 42px;
  }
}

.form-input:focus {
  outline: none;
  color: var(--color-primary-dark);
  border-color: var(--color-primary-green);
}

.form-input::-webkit-input-placeholder {
  color: var(--color-light-brown);
}

.form-input::-moz-placeholder {
  color: var(--color-light-brown);
}

.form-input:-ms-input-placeholder {
  color: var(--color-light-brown);
}

.form-input::-ms-input-placeholder {
  color: var(--color-light-brown);
}

.form-input::placeholder {
  color: var(--color-light-brown);
}

.form-input:focus::-webkit-input-placeholder {
  color: var(--color-primary-dark);
}

.form-input:focus::-moz-placeholder {
  color: var(--color-primary-dark);
}

.form-input:focus:-ms-input-placeholder {
  color: var(--color-primary-dark);
}

.form-input:focus::-ms-input-placeholder {
  color: var(--color-primary-dark);
}

.form-input:focus::placeholder {
  color: var(--color-primary-dark);
}

.form-input:disabled {
  border-color: lightgray;
  cursor: not-allowed;
}

.form-input:disabled::-webkit-input-placeholder {
  color: lightgray;
}

.form-input:disabled::-moz-placeholder {
  color: lightgray;
}

.form-input:disabled:-ms-input-placeholder {
  color: lightgray;
}

.form-input:disabled::-ms-input-placeholder {
  color: lightgray;
}

.form-input:disabled::placeholder {
  color: lightgray;
}

.form-policy {
  display: none;
  margin: 0 auto;
  line-height: 1.5;
  font-size: 12px;
  max-width: 180px;
  text-align: center;
}
@media screen and (min-width: 1280px) {
  .form-policy {
    display: block;
  }
}

.form-policy a {
  color: var(--color-primary-dark);
  text-underline-offset: 3px;
}

footer {
  text-align: center;
  position: relative;
  padding: 32px 0;
  background-image: url(../images/footer-back.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--color-primary-dark);
}
@media screen and (min-width: 1280px) {
  footer {
    text-align: left;
  }
}

footer::before,
footer::after {
  position: absolute;
  content: "";
  bottom: 0;
  background-repeat: no-repeat;
}

footer::before {
  background-image: url(../images/footer-bread.png);
  width: 92px;
  height: 196px;
  left: 0;
  top: 50px;
}
@media screen and (min-width: 870px) {
  footer::before {
    background-image: url(../images/decor-bread-small.png);
    width: 180px;
    height: 120px;
  }
}

footer::after {
  width: 100px;
  height: 90px;
  background-image: url(../images/footer-corner-breads.png);
  right: 0;
}
@media screen and (min-width: 870px) {
  footer::after {
    width: 380px;
    height: 188px;
    background-image: url(../images/decor-bread-big.png);
  }
}

.footer-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 870px) {
  .footer-flex-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
@media screen and (min-width: 870px) {
  .footer-nav {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 20px;
  }
}

.footer-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
@media screen and (min-width: 870px) {
  .footer-address {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 20px;
  }
}

.address-link {
  margin-bottom: 16px;
  color: var(--color-primary-light);
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.address-link:hover {
  color: var(--color-primary-green);
}

.footer-links {
  margin-bottom: 16px;
}

.social-link {
  fill: var(--color-primary-light);
  -webkit-transition: fill 0.2s;
  transition: fill 0.2s;
}

.inline {
  display: inline-block;
  margin-right: 22px;
}

.social-link:hover {
  fill: var(--color-primary-green);
}

.address-copyright {
  color: var(--color-light-brown);
  font-size: 14px;
  margin-bottom: 0;
}

.flex-grow {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.privacy-policy {
  text-align: center;
}
@media screen and (min-width: 870px) {
  .privacy-policy {
    text-align: end;
  }
}

.privacy-policy a {
  margin-bottom: 8px;
}
@media screen and (min-width: 870px) {
  .privacy-policy a {
    margin-bottom: 16px;
  }
}

.footer-logo {
  width: 75px;
  height: 40px;
}
@media screen and (min-width: 870px) {
  .footer-logo {
    width: 108px;
    height: 57px;
  }
}

.format-card__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 444px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(55.21%, rgba(49, 38, 26, 0)), color-stop(72.92%, rgba(49, 38, 26, 0.71)), to(var(--color-primary-dark)));
  background-image: linear-gradient(180deg, rgba(49, 38, 26, 0) 55.21%, rgba(49, 38, 26, 0.71) 72.92%, var(--color-primary-dark) 100%);
  padding: 24px;
  border-radius: 16px;
  color: var(--color-primary-light);
}

.formats-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
}

.format-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 30px;
}

.format-text {
  font-size: 14px;
  font-weight: 300;
}

.format-text p {
  margin-bottom: 0;
  line-height: 1.5;
}

.formats-carousel-button {
  display: none;
}
@media screen and (min-width: 870px) {
  .formats-carousel-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.format .section-title {
  margin-bottom: 24px;
}
@media screen and (min-width: 870px) {
  .format .section-title {
    margin-bottom: 80px;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.formats-flex-list {
  margin-bottom: 32px;
}

.formats-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 16px;
}
@media screen and (min-width: 1280px) {
  .header {
    padding-top: 32px;
  }
}
.header__flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 40px;
}
@media screen and (min-width: 1280px) {
  .header__flex-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  gap: 40px;
}
.header__nav ul {
  display: none;
}
@media screen and (min-width: 1280px) {
  .header__nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    gap: 64px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.header__button {
  display: none;
}
@media screen and (min-width: 1280px) {
  .header__button {
    display: block;
  }
}
.header__burger {
  width: 32px;
  height: 32px;
  display: block;
  background-color: transparent;
  border: none;
  padding: 0;
  fill: var(--color-primary-light);
}
@media screen and (min-width: 1280px) {
  .header__burger {
    display: none;
  }
}
.header__logo {
  width: 72px;
  height: 38px;
}
@media screen and (min-width: 1280px) {
  .header__logo {
    width: 114px;
    height: 56px;
  }
}

.section {
  padding: 20px 0;
}
@media screen and (min-width: 870px) {
  .section {
    padding: 20px 0;
  }
}
@media screen and (min-width: 1280px) {
  .section {
    padding: 48px 0;
  }
}

.section-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 1.3;
}
@media screen and (min-width: 870px) {
  .section-title {
    font-size: 64px;
  }
}

.section-title.centered {
  text-align: center;
}

.section-title .accent {
  color: var(--color-dark-green);
}

.container {
  padding: 0px 20px;
}
@media screen and (min-width: 870px) {
  .container {
    padding: 0px 40px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 100%;
    max-width: 1288px;
    /*adding +48 which is 24px + 24px our paddings--> because of the bording-box propery*/
    margin: 0 auto;
    padding: 0 24px;
  }
}

.hero-section {
  background-image: -webkit-gradient(linear, left top, right top, from(#121211), to(transparent));
  background-image: linear-gradient(to right, #121211, transparent);
  background-image: linear-gradient(102.76deg, rgba(18, 18, 17, 0.78) 2.03%, rgba(18, 18, 17, 0.6) 58.46%, rgba(18, 18, 17, 0) 90.36%), url("../images/header_back.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  padding: 124px 0 30px 0;
}
@media screen and (min-width: 1280px) {
  .hero-section {
    padding: 272px 0;
  }
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(102.76deg, rgba(18, 18, 17, 0.78) 2.03%, rgba(18, 18, 17, 0.6) 58.46%, rgba(18, 18, 17, 0) 90.36%), url("../images/header_back@2x.jpg");
  }
}
.hero-section__button {
  margin: 0 auto;
}
@media screen and (min-width: 1280px) {
  .hero-section__button {
    display: none;
  }
}

.hero-title {
  color: var(--color-primary-light);
  font-size: 67px;
  line-height: 1;
  font-weight: 900;
  margin-bottom: 48px;
  text-align: center;
}
@media screen and (min-width: 1280px) {
  .hero-title {
    font-size: 128px;
    line-height: 1.5;
    margin-bottom: 0;
  }
}

.hero-title .accent {
  color: var(--color-primary-green);
}

.link {
  color: var(--color-primary-light);
  text-decoration: none;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  /* always setting animation for the element, not the event(ex:hover) */
}

.link:hover {
  color: var(--color-primary-green);
}

.nav__link {
  color: var(--color-primary-dark);
  margin-bottom: 16px;
}
.nav__link:focus {
  font-weight: 600;
  color: var(--color-primary-green);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary-light);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.mobile-menu::after {
  position: absolute;
  content: "";
  width: 190px;
  height: 245px;
  bottom: 0;
  right: 0;
  background-repeat: no-repeat;
  background-image: url(../images/decor-bread-modal.png);
  overflow: hidden;
}
.mobile-menu.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.mobile-menu__close {
  position: absolute;
  padding: 0;
  right: 16px;
  top: 16px;
  background-color: transparent;
  border: none;
}
.mobile-menu__container {
  padding: 24px 24px;
}

.nav__logo {
  margin-bottom: 32px;
}

.backdrop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 20px;
  background-color: rgba(49, 38, 26, 0.4);
  -webkit-transition: opacity 0.3s, visibility 0.3s;
  transition: opacity 0.3s, visibility 0.3s;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-window {
  position: relative;
  width: 100%;
  min-height: 70%;
  max-width: 880px;
  padding: 25px;
  border-radius: 32px;
  background-color: var(--color-primary-light);
  overflow-y: auto;
}
@media screen and (min-width: 870px) {
  .modal-window {
    padding: 128px;
    max-height: 880px;
  }
}

.modal-close {
  position: absolute;
  right: 40px;
  top: 40px;
  border: 0;
  padding: 0;
  background: transparent;
  stroke: var(--color-primary-dark);
  cursor: pointer;
  width: 32px;
  height: 32px;
}

.modal-window::after {
  position: absolute;
  content: "";
  width: 190px;
  height: 245px;
  bottom: 0;
  right: 0;
  background-repeat: no-repeat;
  background-image: url(../images/decor-bread-modal.png);
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
}
.pagination__button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--color-light-brown);
}
.pagination__button--active {
  background-color: var(--color-primary-green);
}

.tradition {
  padding: 20px 0px 20px 0px;
}
@media screen and (min-width: 870px) {
  .tradition {
    padding: 40px 0px 20px 0px;
  }
}
@media screen and (min-width: 1280px) {
  .tradition {
    padding-top: 96px;
    padding-bottom: 48px;
  }
}

.traditions-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
@media screen and (min-width: 1280px) {
  .traditions-flex-container {
    gap: 40px;
  }
}

.traditions-flex-content {
  max-width: 710px;
}

.tradition .section-title {
  margin-bottom: 24px;
}
@media screen and (min-width: 1280px) {
  .tradition .section-title {
    margin-bottom: 42px;
  }
}

.uppercase {
  text-transform: uppercase;
  font-weight: 600;
}

.traditions-text .uppercase,
.brand-color {
  color: var(--color-primary-green);
}

.limited {
  max-width: 310px;
  margin-bottom: 0;
}
@media screen and (min-width: 870px) {
  .limited {
    max-width: 360px;
  }
}

.arch-photo {
  display: none;
  border-radius: 400px 400px 4px 4px;
}
@media screen and (min-width: 870px) {
  .arch-photo {
    width: 293px;
    display: block;
  }
}
@media screen and (min-width: 1280px) {
  .arch-photo {
    width: 393px;
    display: block;
  }
}