/* Font-face */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/poppins-v21-latin-300.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v21-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v21-latin-600.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/poppins-v21-latin-900.woff2") format("woff2");
}

/* Variables */
:root {
  --color-primary-green: #819b57;
  --color-primary-light: #faf4ea;
  --color-primary-dark: #31261a;
  --color-light-brown: #a18268;
  --color-olive: #cfcfbc;
  --color-dark-green: #465929;
}

/* Base */
* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
}

body {
  margin: 0;
  color: var(--color-primary-dark);
  background-color: var(--color-primary-light);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  /* font-size: 18px, line-height in figma: 27px. We have to divide 27/18=1.5 - this is our value for css property in VS Code*/
}

address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.section {
  padding: 48px 0;
}

.container {
  width: 100%;
  max-width: 1288px; /*adding +48 which is 24px + 24px our paddings--> because of the bording-box propery*/
  margin: 0 auto;
  padding: 0 24px;
}

/* Links */
.link {
  color: var(--color-primary-light);
  text-decoration: none;
}

.link:hover {
  color: var(--color-primary-green);
}

/* Header */
.header-flex-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

.header-nav ul {
  display: flex;
  flex-grow: 1;
  gap: 64px;
  justify-content: center;
}

/* Button */
.button {
  font-size: 18px;
  padding: 16px 68px;
  background-color: var(--color-primary-green);
  border: 2px solid var(--color-primary-green);
  border-radius: 8px;
  color: var(--color-primary-light);
  font-weight: 600;
}

.button:hover {
  background: transparent;
  border: 2px solid var(--color-primary-green);
  color: var(--color-dark-green);
}

/* Hero Section */
.hero-section {
  background-image: linear-gradient(to right, #121211, transparent);
  background-image: url("../images/header_back.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  padding: 272px 0;
}

.hero-title {
  color: var(--color-primary-light);
  font-size: 128px;
  font-weight: 900;
  margin-bottom: 0;
}

.hero-title .accent {
  color: var(--color-primary-green);
}

/* Advantages Section */
.advantages-section {
  padding: 16px 0;
  background-color: var(--color-primary-green);
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.advantages-item {
  color: var(--color-primary-light);
  font-size: 20px;
  font-weight: 300;
}

.section-title {
  font-weight: 900;
  font-size: 64px;
  line-height: 1.3;
}

.section-title.centered {
  text-align: center;
}

.section-title .accent {
  color: var(--color-dark-green);
}
/* Tradition Section */
.tradition {
  padding-top: 96px;
}

.traditions-flex-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.traditions-flex-content {
  max-width: 710px;
}

.tradition .section-title {
  margin-bottom: 42px;
}

.uppercase {
  text-transform: uppercase;
  font-weight: 600;
}

.traditions-text .uppercase,
.brand-color {
  color: var(--color-primary-green);
}

.limited {
  max-width: 360px;
}

/* Chef section */
.chef .section-title {
  max-width: 478px;
  margin: 0 auto 80px;
}

.chef .section-title::before,
.chef .section-title::after {
  content: "";
  width: 374px;
  display: block;
  border: 2px solid var(--color-olive);
}

.chef-title {
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 16px;
}

.chef-photo {
  width: 241px;
  height: 390px;
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--color-primary-light),
   -16px 16px 0 2px var(--color-light-brown);
}

/* Formats section */
.format .section-title {
  margin-bottom: 80px;
}

.format-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}

.format-text {
  font-size: 14px;
  font-weight: 300;
}

.formats-flex-list {
  display: flex;
  gap: 20px;
}

.format-card {
  height: 444px;
  background-image: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    var(--color-primary-dark) 100%
  );
  padding: 24px;
  border: 1px solid var(--color-primary-dark);
  border-radius: 16px;
  color: var(--color-primary-light);
}

.formats-flex-list li {
  flex-basis: calc((100% - 40px) / 3);
}

/* Footer */
footer {
  background-image: url(../images/footer-back.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--color-primary-dark);
}

.contact .section-title {
  margin-bottom: 16px;
}

.address-link {
  color: var(--color-primary-light);
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
}

.address-link:hover {
  color: var(--color-primary-green);
}

.address-copyright {
  color: var(--color-light-brown);
  font-size: 14px;
  margin-bottom: 0;
}
