/* Font-face */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/poppins-v21-latin-300.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v21-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v21-latin-600.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/poppins-v21-latin-900.woff2") format("woff2");
}

/* Variables */
:root {
  --color-primary-green: #819b57;
  --color-primary-light: #faf4ea;
  --color-primary-dark: #31261a;
  --color-light-brown: #a18268;
  --color-olive: #cfcfbc;
  --color-dark-green: #465929;
}

/* Base */
*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
}

a {
  display: inline-block;
}
body {
  margin: 0;
  color: var(--color-primary-dark);
  background-color: var(--color-primary-light);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  /* font-size: 18px, line-height in figma: 27px. We have to divide 27/18=1.5 - this is our value for css property in VS Code*/
}

address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.section {
  padding: 48px 0;
}

.container {
  width: 100%;
  max-width: 1288px; /*adding +48 which is 24px + 24px our paddings--> because of the bording-box propery*/
  margin: 0 auto;
  padding: 0 24px;
}

/* Links */
.link {
  color: var(--color-primary-light);
  text-decoration: none;
  transition: color 0.2s;
  /* always setting animation for the element, not the event(ex:hover) */
}

.link:hover {
  color: var(--color-primary-green);
}

/* Header */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 32px;
}

.header-flex-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

.header-nav ul {
  display: flex;
  flex-grow: 1;
  gap: 64px;
  justify-content: center;
}

/* Button */
.button {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
  padding: 16px 68px;
  background-color: var(--color-primary-green);
  border: 2px solid var(--color-primary-green);
  border-radius: 8px;
  color: var(--color-primary-light);
  transition: color 0.3s;
}

.button:hover {
  cursor: pointer;
  background: var(--color-primary-light);
  border: 2px solid var(--color-primary-green);
  color: var(--color-dark-green);
}

/* Hero Section */
.hero-section {
  background-image: linear-gradient(to right, #121211, transparent);
  background-image: linear-gradient(
      102.76deg,
      rgba(18, 18, 17, 0.78) 2.03%,
      rgba(18, 18, 17, 0.6) 58.46%,
      rgba(18, 18, 17, 0) 90.36%
    ),
    url("../images/header_back.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  padding: 272px 0;
}

.hero-title {
  color: var(--color-primary-light);
  font-size: 128px;
  font-weight: 900;
  margin-bottom: 0;
}

.hero-title .accent {
  color: var(--color-primary-green);
}

/* Advantages Section */
.advantages-section {
  padding: 16px 0;
  background-color: var(--color-primary-green);
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.advantages-item {
  color: var(--color-primary-light);
  font-size: 20px;
  font-weight: 300;
}

.section-title {
  font-weight: 900;
  font-size: 64px;
  line-height: 1.3;
}

.section-title.centered {
  text-align: center;
}

.section-title .accent {
  color: var(--color-dark-green);
}
/* Tradition Section */
.tradition {
  padding-top: 96px;
}

.traditions-flex-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.traditions-flex-content {
  max-width: 710px;
}

.tradition .section-title {
  margin-bottom: 42px;
}

.uppercase {
  text-transform: uppercase;
  font-weight: 600;
}

.traditions-text .uppercase,
.brand-color {
  color: var(--color-primary-green);
}

.limited {
  max-width: 360px;
}

/* Chef section */
.chef .section-title {
  position: relative;
  margin: 0 auto 80px;
}

.chef .section-title::before,
.chef .section-title::after {
  content: "";
  position: absolute;
  bottom: 16px;
  width: 374px;
  border: 2px solid var(--color-olive);
}

.chef .section-title::before {
  right: 0px;
}

.chef .section-title::after {
  left: 0px;
}

.chef-title {
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 16px;
}

.chef-photo {
  width: 241px;
  height: 390px;
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--color-primary-light), -16px 16px 0 2px var(--color-light-brown);
}

.chefs-flex-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 30px;
}

.chefs-flex-list li {
  flex-basis: calc((100% - 30px) / 2);
}

.chef-card {
  display: flex;
  gap: 30px;
}

.chef-text p {
  margin-bottom: 28px;
}

.chef-text p:last-child {
  margin-bottom: 0;
}

/* Formats section */
.format .section-title {
  margin-bottom: 80px;
}

.format-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}

.format-text {
  font-size: 14px;
  font-weight: 300;
}

.formats-flex-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.right-arrow {
  transform: rotate(180deg);
}

.format-card {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 444px;
  background-image: linear-gradient(
      180deg,
      rgba(49, 38, 26, 0) 55.21%,
      rgba(49, 38, 26, 0.71) 72.92%,
      var(--color-primary-dark) 100%
    ),
    url(../images/horseshoe.jpg);
  padding: 24px;
  border-radius: 16px;
  color: var(--color-primary-light);
  transition: transform 0.2s;
}

.format-card:hover {
  transform: scale(1.05);
}

.formats-flex-list li {
  flex-basis: calc((100% - 40px) / 3);
}

.formats-flex-container {
  display: flex;
  align-items: center;
  gap: 32px;
}

/* Carousel buttons */
.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary-light);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid var(--color-primary-dark);
  padding: 0;
  cursor: pointer;
  fill: var(--color-primary-dark);
  flex-shrink: 0;
  transition: background-color 0.2s, fill 0.2s;
}

.carousel-button:hover {
  background-color: var(--color-primary-dark);
  fill: var(--color-primary-light);
}

/* Contacts Section */
.contacts-flex-container {
  display: flex;
  gap: 32px;
}

.contact .section-title {
  margin-bottom: 16px;
}

.main-page-form-text {
  color: var(--color-dark-green);
}

.contact {
  padding-bottom: 96px;
}
.contact-map {
  flex-shrink: 0;
  border: 1px solid transparent;
  border-radius: 16px;
  transition: 0.3s;
}

.contact-map:hover {
  border: 1px solid var(--color-light-brown);
}

/* Footer */
footer {
  position: relative;
  padding: 32px 0;
  background-image: url(../images/footer-back.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--color-primary-dark);
}

footer::before,
footer::after {
  position: absolute;
  content: "";
  bottom: 0;
  background-repeat: no-repeat;
}

footer::before {
  background-image: url(../images/decor-bread-small.png);
  width: 180px;
  height: 120px;
  left: 0;
}

footer::after {
  background-image: url(../images/decor-bread-big.png);
  width: 380px;
  height: 190px;
  right: 0;
}

.footer-flex-container {
  display: flex;
  gap: 20px;
}

.footer-nav,
.footer-address {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.address-link {
  margin-bottom: 16px;
  color: var(--color-primary-light);
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  transition: color 0.2s;
}

.address-link:hover {
  color: var(--color-primary-green);
}
.footer-links {
margin-bottom: 16px;
}

.social-link {
  display: inline-block;
  fill: var(--color-primary-light);
  transition: fill 0.2s;
}

.inline {
  display: inline-block;
  margin-right: 22px;
}

.social-link:hover {
  fill: var(--color-primary-green);
}

.address-copyright {
  color: var(--color-light-brown);
  font-size: 14px;
  margin-bottom: 0;
}

.flex-grow {
  flex-grow: 1;
}

.privac-policy {
  text-align: end;
}

/* Modal Window */
.backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 20px 0;
  background-color: rgba(49, 38, 26, 0.4);
  transition: opacity 0.3s, visibility 0.3s;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-window {
  position: relative;
  width: 100%;
  max-width: 880px;
  max-width: 880px;
  padding: 128px;
  border-radius: 32px;
  background-color: var(--color-primary-light);
  overflow-y: auto;
}

.modal-close {
  position: absolute;
  right: 40px;
  top: 40px;
  border: 0;
  padding: 0;
  background: transparent;
  stroke: var(--color-primary-dark);
  cursor: pointer;
  width: 32px;
  height: 32px;
}

.modal-window::after {
  position: absolute;
  content: "";
  width: 190px;
  height: 245px;
  bottom: 0;
  right: 0;
  background-repeat: no-repeat;
  background-image: url(../images/decor-bread-modal.png);
}

/* Contact Form */
.form-text {
  margin-bottom: 72px;
  text-align: center;
}

.form-text p {
  color: var(--color-dark-green);
}

.form-title {
  margin-bottom: 8px;
}

.form-field {
  margin-bottom: 32px;
  display: block;
}

.form-input {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  padding: 16px 42px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--color-light-brown);
  background-color: transparent;
}

.form-input:focus {
  outline: none;
  color: var(--color-primary-dark);
  border-color: var(--color-primary-green);
}

.form-input::placeholder {
  color: var(--color-light-brown);
}

.form-input:focus::placeholder {
  color: var(--color-primary-dark);
}

.form-button {
  display: block;
  margin: 0 auto 24px;
}

.form-policy {
  margin: 0 auto;
  line-height: 1.5;
  font-size: 12px;
  max-width: 180px;
  text-align: center;
}

.form-policy a {
  color: var(--color-primary-dark);
  text-underline-offset: 3px;
}
