.form-text {
  margin-bottom: 0;
  text-align: center;

  @media screen and (min-width: $bp-tablet) {
    margin-bottom: 72px;
  }
}

.form-text p {
  color: var(--color-dark-green);
  font-size: 12px;

  @media screen and (min-width: $bp-tablet) {
    margin-bottom: 72px;
    font-size: 16px;
  }
}

.form-title {
  margin-bottom: 8px;
}

.form-field {
  margin: 0 0 16px;
  display: block;

  @media screen and (min-width: $bp-tablet) {
    width: 70%;
    margin: 0 auto 16px;
  }

  @media screen and (min-width: $bp-desktop) {
    margin: 0 0 24px;
    width: 100%;
  }
}

.form-input {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  padding: 8px 24px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--color-light-brown);
  background-color: transparent;

  @media screen and (min-width: $bp-desktop) {
    padding: 16px 42px;
  }
}

.form-input:focus {
  outline: none;
  color: var(--color-primary-dark);
  border-color: var(--color-primary-green);
}

.form-input::placeholder {
  color: var(--color-light-brown);
}

.form-input:focus::placeholder {
  color: var(--color-primary-dark);
}

.form-input:disabled {
  border-color: lightgray;
  cursor: not-allowed;
}

.form-input:disabled::placeholder {
  color: lightgray;
}

.form-policy {
  display: none;
  margin: 0 auto;
  line-height: 1.5;
  font-size: 12px;
  max-width: 180px;
  text-align: center;

  @media screen and (min-width: $bp-desktop) {
    display: block;
  }
}

.form-policy a {
  color: var(--color-primary-dark);
  text-underline-offset: 3px;
}
