.format-card {
  //   transition: transform 0.2s;

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 444px;
    background-image: linear-gradient(
      180deg,
      rgba(49, 38, 26, 0) 55.21%,
      rgba(49, 38, 26, 0.71) 72.92%,
      var(--color-primary-dark) 100%
    );
    padding: 24px;
    border-radius: 16px;
    color: var(--color-primary-light);
  }
}

// .format-card:hover {
//   transform: scale(1.05);
//   cursor: pointer;

//   @media (hover: hover) {
//     .format-card:hover {
//       transform: scale(1.05);
//       cursor: pointer;
//     }
//   }
// }

.formats-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  border-radius: 16px;
}

.format-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 30px;
}

.format-text {
  font-size: 14px;
  font-weight: 300;
}

.format-text p {
  margin-bottom: 0;
  line-height: 1.5;
}

.formats-carousel-button {
  display: none;

  @media screen and (min-width: $bp-tablet) {
    display: flex;
  }
}
