.backdrop {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 20px 0;
    background-color: rgba(49, 38, 26, 0.4);
    transition: opacity 0.3s, visibility 0.3s;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-window {
    position: relative;
    width: 100%;
    max-width: 880px;
    max-width: 880px;
    padding: 128px;
    border-radius: 32px;
    background-color: var(--color-primary-light);
    overflow-y: auto;
}

.modal-close {
    position: absolute;
    right: 40px;
    top: 40px;
    border: 0;
    padding: 0;
    background: transparent;
    stroke: var(--color-primary-dark);
    cursor: pointer;
    width: 32px;
    height: 32px;
}

.modal-window::after {
    position: absolute;
    content: "";
    width: 190px;
    height: 245px;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
    background-image: url(../images/decor-bread-modal.png);
}