.advantages-section {
  background-color: transparent;
  padding-top: 20px;

  @media screen and (min-width: $bp-tablet) {
    padding: 16px 0;
    background-color: var(--color-primary-green);
  }
}

.advantages-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--color-olive);
  border-radius: 24px;
  padding: 24px 40px;

  @media screen and (min-width: $bp-tablet) {
    justify-content: space-between;
    flex-direction: row;
    gap: 40px;
    background-color: transparent;
    border-radius: 0;
    padding: 0;
  }
}

.advantages-item {
  color: var(--color-primary-dark);
  font-size: 14px;
  font-weight: 300;

  @media screen and (min-width: $bp-tablet) {
    color: var(--color-primary-light);
    font-size: 20px;
  }
}
