.format .section-title {
  margin-bottom: 24px;

  @media screen and (min-width: $bp-tablet) {
    margin-bottom: 80px;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.formats-flex-list {
  margin-bottom: 32px;
}

// .formats-flex-list {
//   display: flex;
//   gap: 20px;
//   flex-wrap: wrap;
// }

// .formats-flex-list li {
//   flex-basis: calc((100% - 40px) / 3);
// }

.formats-flex-container {
  display: flex;
  align-items: center;
  gap: 32px;
}
