.tradition {
  padding: 20px 0px 20px 0px;

  @media screen and (min-width: $bp-tablet) {
    padding: 40px 0px 20px 0px;
  }

  @media screen and (min-width: $bp-desktop) {
    padding-top: 96px;
    padding-bottom: 48px;
  }
}

.traditions-flex-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;

  @media screen and (min-width: $bp-desktop) {
    gap: 40px;
  }
}

.traditions-flex-content {
  max-width: 710px;
}

.tradition .section-title {
  margin-bottom: 24px;

  @media screen and (min-width: $bp-desktop) {
    margin-bottom: 42px;
  }
}

.uppercase {
  text-transform: uppercase;
  font-weight: 600;
}

.traditions-text .uppercase,
.brand-color {
  color: var(--color-primary-green);
}

.limited {
  max-width: 310px;
  margin-bottom: 0;

  @media screen and (min-width: $bp-tablet) {
    max-width: 360px;
  }
}

.arch-photo {
  display: none;
  border-radius: 400px 400px 4px 4px;

  @media screen and (min-width: $bp-tablet) {
    width: 293px;
    display: block;
  }

  @media screen and (min-width: $bp-desktop) {
    width: 393px;
    display: block;
  }
}
