:root {
  --color-primary-green: #819b57;
  --color-primary-light: #faf4ea;
  --color-primary-dark: #31261a;
  --color-light-brown: #a18268;
  --color-olive: #cfcfbc;
  --color-dark-green: #465929;
}

$bp-mobile: 480px;
$bp-tablet: 870px;
$bp-desktop: 1280px;
